body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans", Geneva, Verdana, sans-serif;
  overflow: hidden;
}
body.ready {
  border: 1px solid #eee;
  border-radius: 5px;
  border-color: #eee #ddd #bbb;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 3px;
}

.github-card {
  text-align: center;
  border-radius: 5px;
  background: #fff;
  color: #555;
  position: relative;
}

.github-card .header {
  position: relative;
}
.github-card h1 {
  color: #111;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

/* user card */
.user-card .header {
  padding: 0;
  margin: 0;
  height: 148px;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-position: center;
  background-color: #000;
}

.user-card .avatar {
  margin-top: -40px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 100%;
  border: 3px solid #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  text-decoration: none;
  position: relative;
  -webkit-transition: -webkit-transform .2s ease-in-out;
}
.user-card .avatar:hover {
  -webkit-transform: rotate(45deg);
}
.user-card img {
  display: block;
  width: 80px;
  height: 80px;
}

.user-card h1 {
  letter-spacing: -0.06em;
  margin: 16px 0 20px;
  line-height: 1;
}

.user-card strong {
  display: block;
  color: #292f33;
  font-size: 16px;
  line-height: 1.6;
}

.user-card ul {
  text-transform: uppercase;
  font-size: 12px;
  color: #707070;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  zoom: 1;
}
.user-card ul:after {
  display: block;
  content: '';
  clear: both;
}
.user-card .status a {
  color: #707070;
  text-decoration: none;
}
.user-card .status a:hover {
  color: #4183c4;
}
.user-card .status li {
  float: left;
  padding: 8px 0;
  box-shadow: 1px 0 0 #eee;
  width: 33%;
}
.user-card .status li:last-of-type {
  box-shadow: none;
}
.user-card .footer {
  font-size: 12px;
  font-weight: 700;
  padding: 11px 0 10px;
  color: #646464;
}
.user-card .footer a {
  color: #646464;
}

/* repo card */
.repo-card .header {
  padding: 3px 0 4px 57px;
}
.repo-card .avatar, .repo-card .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 4px;
}
.repo-card .header a {
  color: #707070;
}
.repo-card .header strong {
  display: block;
  font-size: 18px;
  line-height: 1.4;
}
.repo-card .header strong a {
  color: #292f33;
}
.repo-card .header sup {
  font-size: 10px;
  margin-left: 3px;
  color: #797979;
}
.repo-card .content {
  padding: 6px 0 10px;
}
.repo-card .content p {
  margin: 0 5px 0 0;
  font: 18px/24px Georgia, "Times New Roman", Palatino, serif;
  overflow: hidden;
  clear: both;
  word-wrap: break-word;
}
.repo-card .footer {
  border-top: 1px solid #eee;
  padding: 8px 0 6px;
}
.repo-card .status {
  font-size: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
.repo-card .status strong {
  font-size: 12px;
  padding-right: 5px;
}
